<%
task_before = nil 
@tasks.each do |t|
	if t.status != task_before
		if task_before != nil
%>
	</div>
</div>
<%
    end
%>
<div class="row">
  <div class="col-md-12"><h3 class="text-<%= s_to_txt(t.status) %>"><i class="glyphicon glyphicon-<%= s_to_ico(t.status) %>"></i> <%= t.status %></h3>
<%
	end
%>
    <div class="panel panel-<%= s_to_txt(t.status) %>">
      <div class="panel-heading">
          <div class="row">
            <div class="col-md-1">
              <div class="btn-group">
                <button type="button" class="btn btn-<%= s_to_txt(t.status) %> dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                	<i class="glyphicon glyphicon-<%= s_to_ico(t.status) %>"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                  <%=
                  if t.status!='Done'
                    link_to finish_task_path(t) , method: :put do
                  %>
                  <i class="glyphicon glyphicon-ok"></i> Done
                  <%
                    end
                  end
                  %>
                  </li>
                  <li>
                  <%=
                  if t.status!='In Process'
                  	link_to start_task_path(t) , method: :put do
                  %>
  								<i class="glyphicon glyphicon-play"></i> In process
  								<%
  									end
  								end
  								%>
                  </li>
                  <li>
                  <%=
                  if t.status!='To Do'
                  	link_to stop_task_path(t) , method: :put do
                  %>
  								<i class="glyphicon glyphicon-stop"></i> To do
  								<%
  									end
  								end
  								%>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-10"><h4><%= link_to t.title, t, class: "text-" + s_to_txt(t.status)  %></h4></div>
            <div class="col-md-1 text-right">
              <%= link_to t, method: :delete, class: "btn btn-" + s_to_txt(t.status), data: { confirm: "Are you sure?" } do %>
  						<i class="glyphicon glyphicon-trash %>"></i>
  						<% end %>
            </div>
          </div>
      </div>
    </div>
<%
task_before = t.status
end
%>
 	</div>
</div>
